{% assign screen_width = site.settings.screen_width.value |  default: 'max-w-screen-xl' %}

<footer class="border-t text-slate-800 dark:bg-slate-900 dark:text-slate-200 border-slate-200 dark:border-gray-700 print:hidden">

  {% # 底部备案和链接 %}
  <div class="mx-auto {{ screen_width }} p-4 sm:py-6">
    <div class="sm:flex sm:items-center sm:justify-between">
      <div class="flex space-x-2 text-sm text-gray-500 sm:text-center dark:text-gray-400">
        <a href="{{site.index_path}}" data-turbo="false" class="flex items-center">
          {% assign logo = 'images/logo.png' | asset_url %}
          <img src="{{ site.favicon_url | default: logo  }}" class="h-8 mr-3" alt="{{ site.name }} Logo">
          <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">{{ site.name }}</span>
        </a>
      </div>
      <div class="hidden mt-4 space-x-6 sm:flex sm:justify-center sm:mt-0">
        <div>© {{ site.settings.copyright_info }}</div>
        
      </div>
    </div>
  </div>
</footer>