<!-- Bugfix: 重复引用js，以适应turboframe -->
{{ site.settings.head_html }}
<script>
    function chat(){
        document.addEventListener("turbo:load", () => {
            quickChatApi.chat()
        })
    }
</script>
<!-- support cards: Chat/Email/Call -->
<section class="my-4 px-4">
    <ul role="list" class="grid grid-cols-1 gap-24 md:grid-cols-3">
        <li class="flex flex-row border-r">
            <div class="mr-3">
                <svg width="80" height="81" viewBox="0 0 80 81" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.42749 9.32254V49.165H20.6942V46.1002H11.4942V12.3873H66.6942V34.3528C66.6942 40.841 61.4318 46.1002 54.9396 46.1002H39.9927L26.8275 59.2574V49.165C26.8275 47.4733 25.4536 46.1002 23.7608 46.1002V66.6559L41.2623 49.165H54.9366C63.1215 49.165 69.7608 42.5328 69.7608 34.3498V9.32254H8.42749Z" fill="#3F3636"/>
                </svg>
            </div>
            <div>
                <h3 class="text-lg font-medium text-gray-900">{{ 'generic.chat_us' | t }}</h3>
                <button onClick="chat()">Chat</button>
                <p class="text-sm"><a href="{{ site.settings.chat_url | default: '#' }}" class="text-info underline">{{ 'generic.chat_now' | t }}</a></p>
            </div>
        </li>
        <li class="flex flex-row border-r">
            <div class="mr-3 ">
                <svg width="81" height="81" viewBox="0 0 81 81" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M73.3125 8.5H7.68751C5.09864 8.5 3 10.6042 3 13.2V50.8C3 53.3958 5.09864 55.5 7.68751 55.5H73.3125C75.9014 55.5 78 53.3958 78 50.8V13.2C78 10.6042 75.9013 8.5 73.3125 8.5ZM75.6563 13.2V50.8C75.6562 51.015 75.6268 51.2289 75.5687 51.4359C75.4967 51.2842 75.3929 51.1498 75.2645 51.0419L52.2479 31.6771L75.2645 12.3123C75.319 12.2664 75.3692 12.2155 75.4146 12.1605C75.5691 12.4739 75.6563 12.8267 75.6563 13.2ZM73.3125 10.85C73.3268 10.85 73.3409 10.8508 73.3551 10.8511L43.5625 35.9168H37.4376L7.64493 10.8511C7.65915 10.8508 7.67323 10.85 7.68751 10.85H73.3125ZM5.73552 51.0418C5.60707 51.1498 5.50329 51.2841 5.43125 51.4358C5.3732 51.2289 5.34375 51.0149 5.34371 50.8V13.2C5.34371 12.8267 5.43091 12.4739 5.58539 12.1605C5.63074 12.2156 5.68098 12.2664 5.73549 12.3124L28.7521 31.6771L5.73552 51.0418ZM7.68748 53.15C7.42573 53.15 7.1743 53.1063 6.93926 53.027C7.04895 52.9811 7.15105 52.9187 7.24204 52.8421L30.5752 33.211L36.0903 37.851C36.3053 38.1052 36.6259 38.2667 36.9843 38.2667H44.0156C44.3741 38.2667 44.6947 38.1052 44.9096 37.851L50.4247 33.211L73.7579 52.842C73.8489 52.9187 73.951 52.9811 74.0607 53.027C73.8196 53.1085 73.5668 53.1501 73.3124 53.15H7.68748Z" fill="#3F3636"/>
                </svg>
            </div>
            <div>
                <h3 class="text-lg font-medium text-gray-900">{{ 'generic.email_us' | t }}</h3>
                <p class="text-sm text-gray-500">
                {% if site.settings.email_desc %}
                    <span>{{ site.settings.email_desc }}</span><br/>
                {% endif %}
                <button @click="overlay_open = true" class="text-info underline">{{ 'generic.send_email' | t }}</button>
            </div>
        </li>
        <li class="flex flex-row">
            <div class="mr-3 ">
                <svg width="81" height="81" viewBox="0 0 81 81" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M56.9473 68.5198C50.0474 68.5198 38.6522 61.5485 27.3615 50.207C12.5164 35.536 5.40741 21.1771 10.4255 16.1827L16.489 10.1478C16.5936 10.1478 16.5936 10.0437 16.6981 9.93966C17.639 9.21131 18.8935 8.7951 20.148 8.7951C21.9253 8.7951 23.4934 9.62751 24.5388 10.9802L31.2296 19.4082C33.1114 21.6973 33.0069 24.9229 30.8114 27.0039C27.0479 31.0618 27.0479 31.0618 27.1524 31.5821V31.6861L27.257 31.7902C29.8706 35.9522 32.4841 39.3858 35.3068 42.2992C38.1295 45.1086 41.5794 47.8139 45.8657 50.4151L46.3884 50.7273L50.4656 46.6693C51.511 45.6288 52.9746 45.0045 54.4383 45.0045C55.7973 45.0045 56.9473 45.4207 57.9927 46.3572L66.4607 53.0164L66.8789 53.4326C67.9243 54.4731 68.5516 55.7217 68.5516 57.2824C68.5516 58.8432 67.9243 60.2999 66.8789 61.4444L61.0245 67.2712C60.2927 67.9996 58.8291 68.5198 56.9473 68.5198ZM20.148 11.6045C19.5208 11.6045 18.789 11.8126 18.3708 12.1247L12.3073 18.1596C11.7846 18.6799 11.4709 19.5123 11.4709 20.6568C11.4709 25.5472 17.639 36.8886 29.1388 48.2301C39.2795 58.427 51.1974 65.9186 56.6337 65.9186C57.6791 65.9186 58.5154 65.6064 59.0382 65.0862L64.9971 59.1553C66.0426 58.0108 66.0426 56.346 64.9971 55.3055C64.8926 55.0974 64.6835 54.8893 64.4744 54.7852L56.1109 48.022C55.5882 47.6058 54.961 47.3977 54.3337 47.3977C53.6019 47.3977 52.8701 47.7098 52.2428 48.3341L47.4338 53.2245C47.1202 53.5366 46.8066 53.6407 46.3884 53.6407C46.1793 53.6407 45.9702 53.5366 45.7612 53.5366C41.1612 51.0394 36.875 47.9179 33.2159 44.1721C29.4524 40.3223 26.3161 36.1603 23.807 31.5821C23.598 31.0618 23.7025 30.3335 24.1207 29.9173L28.9297 24.9229C29.9751 24.0905 30.0796 22.4257 29.1388 21.1771L22.448 12.749C22.0298 12.1247 21.1935 11.6045 20.148 11.6045ZM62.9063 36.3684C62.0699 36.3684 61.5472 35.8481 61.5472 35.0157C61.5472 25.131 53.3928 17.0151 43.4612 17.0151C42.6249 17.0151 42.1021 16.4948 42.1021 15.6624C42.1021 14.83 42.6249 14.3098 43.4612 14.3098C54.961 14.3098 64.2653 23.5702 64.2653 35.0157C64.2653 35.8481 63.7426 36.3684 62.9063 36.3684ZM54.2292 36.3684C53.3928 36.3684 52.8701 35.8481 52.8701 35.0157C52.8701 29.8132 48.5838 25.6512 43.3567 25.5472C42.5203 25.5472 41.9976 25.0269 41.9976 24.1945C41.9976 23.3621 42.5203 22.8419 43.3567 22.8419C50.0474 22.8419 55.4837 28.3565 55.5882 35.0157C55.5882 35.9522 55.1701 36.3684 54.2292 36.3684Z" fill="#3F3636"/>
                </svg>
            </div>
            <div>
                <h3 class="text-lg font-medium text-gray-900">{{ 'generic.call_us' | t }}</h3>
                <p class="text-sm text-gray-500">
                {% if site.settings.call_desc %}
                    <span>{{ site.settings.call_desc }}</span><br/>
                {% endif %}
                <a href="tel:{{ site.settings.phone | default: '#' }}" class="text-info underline">{{ site.settings.phone | default: '#' }}</a></p>
            </div>
        </li>
    </ul>
</section>