<!doctype html>
<html lang="{{ site.language }}" class="scroll-smooth">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% meta_tags %}
    {{ 'css/viewer.min.css' | asset_url | stylesheet_tag: data-turbo-track: 'reload' }}
    {{ 'javascripts/main.js' | asset_url | script_tag: defer: true, data-turbo-track: 'reload' }}
    {{ 'css/main.css' | asset_url | stylesheet_tag: data-turbo-track: 'reload' }}
    <style>
      @font-face {
        font-family: 'Saans';
        font-style: normal;
        font-weight: normal;
        font-display: swap;
        src: url("{{ 'images/saans-regular-1.woff2' | asset_url }}") format("woff2"),url("{{ 'images/saans-regular-1.woff' | asset_url }}") format("woff");
      }
    </style>
    {%# TIPS：在低代码平台开发时，请打开下一行代码注释 %}
    {% if false %}{{ 'javascripts/cdn.tailwindcss.js' | asset_url | script_tag: data-turbo-track: 'reload' }} {% endif %}

    {%# QuickCEP Chat %}
    <script src="https://chat.quickcep.com/initQuickChat.js?platform=shopify&accessId=c0556fa7-2855-4f14-b46d-a18e08bd6e3f" data-turbo-track="reload" async></script>
    <script>
      function chat(){
            console.log('loading chat...')
            quickChatApi.chat()
        }
        window.quickChatReadyHook = function(){
          quickChatApi.on('close', function(){
          quickChatApi.close()
          });
        }
    </script>

    {{ site.settings.head_html }}

  </head>
  <body class="font-custom bg-white text-slate-800 dark:bg-slate-900 dark:text-slate-200" id="js-body" data-controller="theme" x-data="{ header_navtree_show: false, overlay_open: false }">
    <!-- Page wrapper -->
    <div
      class="flex flex-col min-h-screen overflow-auto"
      x-data="{ scrolled: false }"
      x-init="
        window.addEventListener('scroll', () => {
          scrolled = window.scrollY > window.innerHeight;
        });
      "
    >
      {% unless page.slug == '' %}
        {% comment %} 非首页 {% endcomment %}
        {% render 'header', settings: site.settings %}
        <div class="pt-10 md:pt-16">{{ content_for_layout }}</div>
      {% else %}
        {% comment %} 首页 {% endcomment %}
        {{ content_for_layout }}
      {% endunless %}
      {%# render 'footer', settings: site.settings %}

      {% # 回到顶部图标 %}
      <button
        x-show="scrolled"
        x-cloak
        @click="
          window.scrollTo({
            top: 0,
            behavior: 'smooth'
          });
        "
        class="fixed z-50 flex items-center justify-center w-10 h-10 rounded-full bottom-4 right-4 xl:w-16 xl:h-16 bg-slate-100 dark:bg-slate-600 hover:bg-primary"
      >
        <svg class="w-5 h-5" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 33L24 21L36 33" stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/><path d="M12 13H36" stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
    </div>
    
    {% comment %} 添加挂件
      {% render 'plugins' %} {% endcomment %}
    {% comment %} What's new 侧边栏弹窗 {% endcomment %}
    <div @keydown.window.escape="overlay_open = false" x-show="overlay_open" class="relative z-50 print:hidden" aria-labelledby="slide-over-title" x-ref="dialog" aria-modal="true">
      <div class="fixed inset-0 overflow-hidden">
        <div class="absolute inset-0 z-50 overflow-hidden">
          <div class="fixed inset-y-0 right-0 flex max-w-full min-w-1/3 pl-10 pointer-events-none">
            <div x-show="overlay_open" x-transition:enter="transform transition ease-in-out duration-500 sm:duration-700" x-transition:enter-start="translate-x-full" x-transition:enter-end="translate-x-0" x-transition:leave="transform transition ease-in-out duration-500 sm:duration-700" x-transition:leave-start="translate-x-0" x-transition:leave-end="translate-x-full" class="w-screen max-w-md pointer-events-auto" x-description="Slide-over panel, show/hide based on slide-over state." @click.away="overlay_open = false">
              <div class="pl-0.5 bg-slate-200">
                <turbo-frame id="overlay_iframe" src="/s/overlay" loading="lazy" class="z-50 w-full h-screen overflow-hidden bg-white dark:bg-gray-800">
                loading...
                </turbo-frame>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </body>
</html>