{% comment %} 2024072管家婆需求： 新设计，左侧导航fixed固定 {% endcomment %}

{% comment %} 左侧 NavBar只显示当前父级栏目，具体做法： nav_tree_path 添加一个 parent 参数即可。 {% endcomment %}
{% unless page.parent.path == '/' %}
  {% assign parent = page.parent %}
{% else %}
  {% assign parent = page %}
{% endunless %}

{% assign sub_pages = page.children_in_list %}
{% assign sub_pages_size = sub_pages | size %}
{% assign screen_width = site.settings.screen_width.value |  default: 'max-w-screen-xl' %}
{% assign default_avatar_url = 'images/avatar.svg' | asset_url %}

{% comment %} 页面内容部分 {% endcomment %}
<main class="flex min-h-screen mx-auto {{ screen_width }} relative px-2 md:px-12">

  <!-- Bg Style -->
  {% if site.settings.page_bg_type.value == '1'  %}
    <div class="overflow-hidden absolute inset-x-0 -top-10 blur-3xl transform-gpu -z-10 sm:-top-80" aria-hidden="true">
      <div class="relative left-[calc(50%-11rem)] aspect-[1200/800] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-primary to-secondary opacity-20 sm:left-[calc(50%-20rem)] sm:w-[82.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
  {% elsif site.settings.page_bg_type.value == '2' %}
    <div class="absolute w-full h-full -z-10 bg-gradient-to-b from-primary/15 from-5% via-white via-20% to-accent/15 to-85% dark:from-primary dark:to-accent"></div>
  {% endif %}

  <div class="flex w-full" x-data="{ show_navtree: true }">
    {% # 侧边栏 %}
    {% # render 'sidebar', current_page: page %}
    <div x-data="{ showSidebar: window.innerWidth >= 768 }">
      <div x-show="showSidebar" x-cloak>
        <div
          x-show="show_navtree"
          x-cloak
          class="hidden fixed top-20 z-50 w-96 border-r md:block border-slate-200 dark:border-gray-700"
        >
          <div
            id="page-tree"
            class="mr-0"
          >


          <div class="sticky top-[calc(var(--header-height)_+_1rem)] max-h-[calc(100vh-var(--header-height)-4rem)] max-w-full w-full overflow-auto bg-base-200 rounded-box custom-menu">
          <turbo-frame id="page_nav_tree_frame__" src="/s/page/nav_tree" loading="lazy">
            <div class="flex justify-center items-center h-20 bg-transparent text-base-content/60">
              <span class="loading loading-spinner loading-md"></span>
            </div>
          </turbo-frame>
			  </div>

          </div>
          {% # 关闭侧边栏 %}
          <div
            class="flex absolute top-0 -right-5 justify-center items-center w-10 h-10 bg-white rounded-full border cursor-pointer dark:bg-slate-900 text-slate-800 dark:text-slate-500 border-slate-200 dark:border-gray-700 hover:bg-primary"
            @click="show_navtree = !show_navtree"
          >
            <svg t="1697770917150" class="w-5 h-5 icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="13055" >
              <path d="M754.346667 193.584762l51.687619 51.712-266.703238 266.581333 266.727619 266.849524-51.736381 51.687619-318.415238-318.561524L754.322286 193.584762z m-268.190477 0l51.68762 51.712-266.703239 266.581333 266.727619 266.849524-51.73638 51.687619L167.740952 511.878095 486.13181 193.584762z" p-id="13056" fill="currentColor"></path>
            </svg>
          </div>
        </div>
      </div>
      {% # header中的树形菜单 %}
      <div x-show="!showSidebar" x-cloak>
        <div
          x-show="header_navtree_show"
          x-cloak
          @click.outside="header_navtree_show=false"
          class="overflow-hidden fixed left-0 top-24 z-50 px-4 w-full transition-all duration-300 transform sm:px-6"
          x-transition:enter="transition ease-out duration-300"
          x-transition:enter-start="opacity-0 translate-y-[-10%]"
          x-transition:enter-end="opacity-100 translate-y-0"
          x-transition:leave="transition ease-in duration-200"
          x-transition:leave-start="opacity-100 translate-y-0"
          x-transition:leave-end="opacity-0 translate-y-[-10%]"
        >
          <div class="p-5 w-full bg-white rounded shadow-lg text-slate-800 dark:bg-slate-900 dark:text-slate-200">
            <div
              id="page-tree"
              class="overflow-y-scroll max-h-[calc(100vh-160px)]"
            >
              <div class="overflow-x-auto relative w-full">
                <ul data-controller="navtree" data-navtree-target="menuList">
                  <turbo-frame
                    src="{{ site.nav_tree_path | append: '?selected_ids=' | append: page.id }}"
                    id="nav_tree" data-turbo-permanent
                  ></turbo-frame>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% # 打开侧边栏 %}
    <div
      x-show="!show_navtree"
      x-cloak
      @click="show_navtree=true"
      class="fixed -left-1 top-20 px-3 py-1 bg-white rounded-r-full border cursor-pointer hover:bg-primary dark:bg-slate-900 text-slate-800 dark:text-slate-500 border-slate-200 dark:border-gray-700 2xl:top-28"
    >
      <svg t="1697770917150" class="w-5 h-5 rotate-180 icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="13055">
        <path d="M754.346667 193.584762l51.687619 51.712-266.703238 266.581333 266.727619 266.849524-51.736381 51.687619-318.415238-318.561524L754.322286 193.584762z m-268.190477 0l51.68762 51.712-266.703239 266.581333 266.727619 266.849524-51.73638 51.687619L167.740952 511.878095 486.13181 193.584762z" p-id="13056" fill="currentColor"></path>
      </svg>
    </div>
    {% # 打开侧边栏 %}
    <div
      x-show="!show_navtree"
      x-cloak
      @click="show_navtree=true"
      class="fixed -left-1 top-20 px-3 py-1 bg-white rounded-r-full border cursor-pointer hover:bg-primary dark:bg-slate-900 text-slate-800 dark:text-slate-500 border-slate-200 dark:border-gray-700 2xl:top-28"
    >
      <svg t="1697770917150" class="w-5 h-5 rotate-180 icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="13055">
        <path d="M754.346667 193.584762l51.687619 51.712-266.703238 266.581333 266.727619 266.849524-51.736381 51.687619-318.415238-318.561524L754.322286 193.584762z m-268.190477 0l51.68762 51.712-266.703239 266.581333 266.727619 266.849524-51.73638 51.687619L167.740952 511.878095 486.13181 193.584762z" p-id="13056" fill="currentColor"></path>
      </svg>
    </div>
    {%# page_list 内页列表点击 URL 不改变，需要添加 data-turbo-action="advance" %}
    <section class="p-4 mt-4 grow lg:pl-6 lg:pr-6 xl:pr-0 md:mt-8" :class="show_navtree ? 'md:ml-96' : 'md:ml-0' ">
      <turbo-frame id="main-content-frame" data-turbo-action="advance">
        <div class="min-h-[calc(100vh-120px)] flex flex-col">
          {% # 面包屑导航 %}
          <div class="mb-3 max-w-3xl">
            {% render 'breadcrumb', breadcrumb: page.breadcrumb  %}
          </div>
          {% if page.settings.show_list %}
            {% render 'page_list', page: page, pages: sub_pages %}
          {% else %}
            {% render 'page', page: page, default_avatar_url: default_avatar_url %}
          {% endif %}
        </div>

        <!-- 上下页 -->
        <div class="justify-between items-center py-8 space-y-3 lg:flex lg:space-y-0 lg:space-x-4 print:hidden">
          <!-- Prev link -->
          <a
            href="{{ page.prev_page.path }}"
            data-turbo="false"
            class="block p-3 w-full text-left rounded-md border hover:bg-primary-50 lg:w-1/2 border-slate-200 dark:border-gray-700"
          >
            <div class="mb-2 text-gray-400">{{ 'generic.prev_page' | t}}</div>
            <div class="text-primary dark:text-slate-200">
              <div
                class="flex items-center space-x-2 line-clamp-1"
              >
                {% if page.prev_page %}
                  <svg t="1697772474680" class="w-4 h-4 icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="13457" >
                    <path d="M724 218.3V141c0-6.7-7.7-10.4-12.9-6.3L260.3 486.8c-16.4 12.8-16.4 37.5 0 50.3l450.8 352.1c5.3 4.1 12.9 0.4 12.9-6.3v-77.3c0-4.9-2.3-9.6-6.1-12.6l-360-281 360-281.1c3.8-3 6.1-7.7 6.1-12.6z" p-id="13458" fill="currentColor"></path>
                  </svg>
                  <span class="line-clamp-1">{{ page.prev_page.link_text }}</span>
                {% else %}
                  <span class="text-slate-400 dark:text-slate-500">{{ 'generic.empty' | t}}</span>
                {% endif %}
              </div>
            </div>
          </a>
          <!-- Next link -->
          <a
            href="{{ page.next_page.path }}"
            data-turbo="false"
            class="block p-3 w-full text-left rounded-md border lg:text-right hover:bg-primary-50 lg:w-1/2 border-slate-200 dark:border-gray-700"
          >
            <div class="mb-2 text-gray-400">{{ 'generic.next_page' | t}}</div>
            <div class="text-primary dark:text-slate-200">
              <div class="flex items-center space-x-2 lg:justify-end line-clamp-1">
                {% if page.next_page %}
                  <span class="line-clamp-1">{{ page.next_page.link_text }}</span>
                  <svg t="1697772474680" class="w-4 h-4 rotate-180 icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="13457" >
                    <path d="M724 218.3V141c0-6.7-7.7-10.4-12.9-6.3L260.3 486.8c-16.4 12.8-16.4 37.5 0 50.3l450.8 352.1c5.3 4.1 12.9 0.4 12.9-6.3v-77.3c0-4.9-2.3-9.6-6.1-12.6l-360-281 360-281.1c3.8-3 6.1-7.7 6.1-12.6z" p-id="13458" fill="currentColor"></path>
                  </svg>
                {% else %}
                  <span class="text-slate-400 dark:text-slate-500">{{ 'generic.empty' | t}}</span>
                {% endif %}
              </div>
            </div>
          </a>
        </div>


      </turbo-frame>

      {% # Support Cards: call/email/chat %}
      <section class="my-8 w-full">
          <!-- Cards Container -->
          <h2 class="my-4 text-xl font-semibold md:my-8">{{ 'generic.get_help' | t }}</h2>
          {% render 'support_cards' %}
      </section>

      {% render 'footer', settings: site.settings %}
    </section>
  </div>
</main>

{% schema %}
  {
    "name": "Page",
    "description": "The content page template",
    "thumb_url": "images/theme/page.png",
    "sub_page_templates": ["page"],
    "settings": [
      {
        "id": "show_list",
        "type": "checkbox",
        "default": "false",
        "label": "栏目",
        "info": "作为栏目页面，只显示子页面列表"
      },
      {
        "id": "title",
        "type": "text",
        "readonly": true,
        "label": "标题",
        "info": "知识库同步，不可编辑"
      },
      {
        "id": "tags",
        "type": "tag_picker",
        "multiple": true,
        "label": "t:settings_schema.page.settings.tags.label"
      },
      {
        "id": "description",
        "type": "textarea",
        "label": "t:settings_schema.page.settings.description.label"
      },
      {
        "id": "icon",
        "type": "image_picker",
        "ratio": "1:1",
        "width": 100,
        "label": "t:settings_schema.page.settings.icon.label",
        // "required": true, 如果必填就用这个参数
        "info": "t:settings_schema.page.settings.icon.info"
      },
      {
        "id": "content",
        "type": "richtext",
        "label": "t:settings_schema.page.settings.content.label",
        "readonly": true,
        "info": "t:settings_schema.page.settings.content.info"
      }
    ]
  }
{% endschema %}
