<!-- locals: pages: 搜索返回结果, keywords: 搜索关键词 -->

<main class="grow">

  <div class="relative px-4 mx-auto max-w-7xl sm:px-6">

    <!-- Main content -->
    <div class="pb-8 w-5xl">

      <!-- Page header -->
      <div class="flex items-center my-4 text-center md:my-8">
        <a class="flex px-3 py-1 text-sm font-semibold leading-6 dark:text-slate-200 dark:hover:text-white hover:bg-slate-200 hover:rounded-full" href="/">
          <svg viewBox="0 -9 3 24" class="w-auto h-6 mr-3 overflow-visible dark:group-hover:text-slate-300">
            <path d="M3 0L0 3L3 6" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
          <span>{{ "generic.back" | t }}</span>
        </a>
      </div>

      <article class="flex xl:space-x-12">

        <!-- Main area -->
        <div class="min-w-0">

          <!-- Article content -->
          <div>
            <header class="mb-6">
              {% if search.tag or search.keywords %}
                <h1 class="mb-4 text-2xl lg:text-4xl text-slate-800 dark:text-slate-200">
                  <span class="text-primary">
                    {% if search.tag %}
                      <i class="px-2 py-1 rounded" style="background-color: {{ search.tag.color }}">{{ search.tag.name }}</i>
                    {% endif %}
                    {% if search.keywords %}
                      <i>{{ search.keywords }}</i>
                    {% endif %}
                  </span>
                  {{ "generic.search_result" | t: '相关的结果' }}
                </h1>
              {% else %}
                <h1 class="mb-4 text-2xl lg:text-4xl text-slate-800 dark:text-slate-200">{{ "search.result.t3" | t: '搜索' }}</h1>
              {% endif %}
              <hr class=""/>
            </header>
            {% if search.keywords or search.tag %}
              <div class="space-y-3 text-slate-600 dark:text-slate-400">
                {% paginate_tag search.pages, as: 'pages', per: 12 %}
                  {% for page in pages %}
                    <div class="space-y-4 rounded-md bg-slate-50 hover:bg-slate-150 md:p-4 dark:text-slate-200 dark:bg-navy-500">
                      <a class="text-lg font-bold md:text-xl text-slate-800 hover:text-secondary dark:text-slate-200" href="{{ page.url }}">{{ page.link_text | highlight: search.keywords }}</a>
                      <p class="text-sm line-clamp-3 text-slate-400">{{ page.settings.content | strip_html | highlight: search.keywords }}</p>
                      <div class="flex items-center justify-between">
                        <div class="hidden overflow-x-auto md:block">
                          {% render 'breadcrumb', breadcrumb: page.breadcrumb %}
                        </div>
                      </div>
                    </div>
                  {% else %}
                    <div class="w-full mx-auto my-8">{{ "search.no_results" | t: 'No results found' }}</div>
                  {% endfor %}
                  {% render 'paginate', paginate: paginate %}
                {% endpaginate_tag %}
              </div>
            {% else  %}
              <div class="w-full mx-auto my-8">{{ "search.please_enter_keywords" | t: 'Please enter keywords'  }}</div>
            {% endif %}
          </div>

        </div>

        <!-- Secondary navigation -->

      </article>

    </div>


  </div>

</main>
