<!-- locals: pages: 搜索返回结果, keywords: 搜索关键词 search.extends - 自定义结果集  search.page_number - 当前分页的页码 -->
<!-- Page wrapper -->
<div class="flex overflow-hidden flex-col min-h-screen">
    <!-- Page content -->
    <main class="grow">

        <!-- Hero -->
        <section class="relative">
            <!-- Background gradient (light version only) -->
            <div class="absolute inset-0 bg-gradient-to-t to-white opacity-50 pointer-events-none from-slate-100 dark:hidden" aria-hidden="true"></div>
            <!-- End background gradient (light version only) -->
            <div class="relative px-4 mx-auto max-w-6xl sm:px-6">
                <div class="pt-4 pb-4 md:pt-8 md:pb-8">
                    <div class="mx-auto max-w-3xl text-center">

                        <div class="mx-auto max-w-2xl md:px-4">
                            {% form_tag 'search', class: 'relative flex items-center mt-8', 'data-aso': 'fade-down', 'data-aso-delay': '300' %}
                                <input type="search" name="{{form.keywords_field_name}}" value="{{ search.keywords | escape }}"
                                placeholder="{{ "placeholders.search" | t }}"  class="px-4 py-3 pl-12 w-full leading-snug bg-white rounded border border-slate-300 focus:border-slate-400 placeholder-slate-500 dark:placeholder-slate-400 dark:bg-slate-800 dark:border dark:border-slate-600 dark:focus:border-slate-500" aria-label="Search anything" />
                                <button type="submit" class="absolute inset-0 right-auto" aria-label="Search">
                                    <svg class="mr-3 ml-4 w-4 h-4 shrink-0" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                                        <path class="fill-current text-slate-400" d="M7 14c-3.86 0-7-3.14-7-7s3.14-7 7-7 7 3.14 7 7-3.14 7-7 7zM7 2C4.243 2 2 4.243 2 7s2.243 5 5 5 5-2.243 5-5-2.243-5-5-5zm8.707 12.293a.999.999 0 11-1.414 1.414L11.9 13.314a8.019 8.019 0 001.414-1.414l2.393 2.393z" />
                                    </svg>
                                </button>
                            {% endform_tag %}
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- List -->
        <section class="relative border-t border-transparent dark:border-slate-800">
            <!-- Background gradient (dark version only) -->
            <div class="hidden absolute inset-0 bg-gradient-to-b opacity-25 pointer-events-none from-slate-800 to-slate-900 dark:block" aria-hidden="true"></div>
            <!-- End background gradient (dark version only) -->
            <div class="relative px-4 mx-auto max-w-6xl sm:px-6">
                <div class="py-8 md:py-12">
                {% if search.keywords or search.tag %}
                {% paginate_tag search.pages, as: 'items', per: 15 %}
                    <div x-data="{ category: '' }" data-aos="fade-up" data-aos-delay="450">

                        <!-- Category buttons -->
                        {% if false %}
                            <div class="mb-10">
                                <div class="flex flex-wrap justify-center -m-1">
                                    <button
                                        class="inline-flex justify-center items-center px-4 py-2 m-1 font-medium bg-white rounded-full shadow transition duration-150 ease-in-out hover:bg-slate-50 dark:bg-slate-800 dark:hover:bg-slate-700"
                                        @click="category = ''"
                                    >
                                        <svg class="mr-2 w-4 h-4 shrink-0" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                                            <path class="fill-current text-slate-400" d="M11 7H1a1 1 0 000 2h10v3l5-4-5-4v3zM8 3H1a1 1 0 010-2h7a1 1 0 010 2zM8 15H1a1 1 0 010-2h7a1 1 0 010 2z" />
                                        </svg>
                                        <span class="transition duration-150 ease-in-out text-slate-600 dark:text-slate-300">View All</span>
                                    </button>
                                    <button
                                        class="inline-flex justify-center items-center px-4 py-2 m-1 font-medium bg-white rounded-full shadow transition duration-150 ease-in-out hover:bg-slate-50 dark:bg-slate-800 dark:hover:bg-slate-700"
                                        :class="{ 'bg-teal-500 hover:bg-teal-500 dark:bg-teal-600 dark:hover:bg-teal-600 dark:bg-opacity-25 dark:hover:bg-opacity-25': category === '1' }"
                                        @click="category = '1'"
                                    >
                                        <svg class="mr-2 w-4 h-4 shrink-0" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                                            <path class="fill-current" :class="category === '1' ? 'text-teal-200 dark:text-teal-400' : 'text-teal-500'" d="M5 16H4a4 4 0 01-4-4v-1h2v1a2 2 0 002 2h1v2zM13 10h-1.686l-1.207-1.207L14.37 4.63a2.121 2.121 0 00-3-3L7.207 5.793 5.99 4.576 5.98 3.02 3.038.079 0 3.117 3 6h1.586l1.207 1.207L4 9l3 3 1.793-1.793L10 11.414V13l3.01 3.01 2.98-2.979L13 10z" />
                                        </svg>
                                        <span class="transition duration-150 ease-in-out" :class="category === '1' ? 'text-white dark:text-teal-400' : 'text-slate-600 dark:text-slate-300'">Getting Started</span>
                                    </button>
                                    <button
                                        class="inline-flex justify-center items-center px-4 py-2 m-1 font-medium bg-white rounded-full shadow transition duration-150 ease-in-out hover:bg-slate-50 dark:bg-slate-800 dark:hover:bg-slate-700"
                                        :class="{ 'bg-purple-500 hover:bg-purple-500 dark:bg-purple-600 dark:hover:bg-purple-600 dark:bg-opacity-25 dark:hover:bg-opacity-25': category === '2' }"
                                        @click="category = '2'"
                                    >
                                        <svg class="mr-2 w-4 h-4 shrink-0" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                                            <path class="fill-current" :class="category === '2' ? 'text-purple-200 dark:text-purple-400' : 'text-purple-500'" d="M12.071 0L15 2.929v4.142L12.071 10H12V7.101L7.9 3H5v-.071L7.929 0h4.142zm-5 5L10 7.929v4.142L7.071 15H2.929L0 12.071V7.929L2.929 5h4.142z" />
                                        </svg>
                                        <span class="transition duration-150 ease-in-out" :class="category === '2' ? 'text-white dark:text-purple-400' : 'text-slate-600 dark:text-slate-300'">Layout & Design</span>
                                    </button>
                                    <button
                                        class="inline-flex justify-center items-center px-4 py-2 m-1 font-medium bg-white rounded-full shadow transition duration-150 ease-in-out hover:bg-slate-50 dark:bg-slate-800 dark:hover:bg-slate-700"
                                        :class="{ 'bg-indigo-500 hover:bg-indigo-500 dark:bg-indigo-600 dark:hover:bg-indigo-600 dark:bg-opacity-25 dark:hover:bg-opacity-25': category === '3' }"
                                        @click="category = '3'"
                                    >
                                        <svg class="mr-2 w-4 h-4 shrink-0" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                                            <path class="fill-current" :class="category === '3' ? 'text-indigo-200 dark:text-indigo-400' : 'text-indigo-500'" d="M1 0h8a1 1 0 011 1v10a1 1 0 01-1 1H1a1 1 0 01-1-1V1a1 1 0 011-1zm14.124 4.085v-.001a1 1 0 01.868 1.116l-1.243 9.932a1 1 0 01-1.117.868l-7.938-1 .248-1.988 6.946.871.995-7.938-2.007-.251.248-1.984 3 .375z" />
                                        </svg>
                                        <span class="transition duration-150 ease-in-out" :class="category === '3' ? 'text-white dark:text-indigo-400' : 'text-slate-600 dark:text-slate-300'">Templates</span>
                                    </button>
                                    <button
                                        class="inline-flex justify-center items-center px-4 py-2 m-1 font-medium bg-white rounded-full shadow transition duration-150 ease-in-out hover:bg-slate-50 dark:bg-slate-800 dark:hover:bg-slate-700"
                                        :class="{ 'bg-pink-500 hover:bg-pink-500 dark:bg-pink-600 dark:hover:bg-pink-600 dark:bg-opacity-25 dark:hover:bg-opacity-25': category === '4' }"
                                        @click="category = '4'"
                                    >
                                        <svg class="mr-2 w-4 h-4 shrink-0" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                                            <path class="fill-current" :class="category === '4' ? 'text-pink-200 dark:text-pink-400' : 'text-pink-500'" d="M13.172 5.178l-2.39-2.39 2.39-2.39C12.674.1 12.076 0 11.479 0a4.462 4.462 0 00-4.481 4.48c0 .499.1.897.199 1.395l-6.572 4.88c-.797.597-.797 1.692-.2 2.389l2.291 2.39c.697.697 1.792.597 2.39-.2l4.88-6.571c.497.1.995.199 1.493.199 2.49 0 4.48-1.992 4.48-4.481 0-.598-.099-1.195-.298-1.693l-2.49 2.39z" />
                                        </svg>
                                        <span class="transition duration-150 ease-in-out" :class="category === '4' ? 'text-white dark:text-pink-400' : 'text-slate-600 dark:text-slate-300'">Project Settings</span>
                                    </button>
                                </div>
                            </div>
                        {% endif %}

                        <!-- Articles -->
                        <div class="-mb-2">
                        {% if search.page_number == 1 %}
                            {% for link in search.extends %}
                                <!-- 1st Article -->
                                <article class="mb-2">
                                    <div class="flex py-5 pr-6 bg-white divide-x shadow-2xl dark:bg-slate-800 divide-slate-200 dark:divide-slate-700">
                                        <!-- Category icon -->
                                        <div class="flex items-center px-4 sm:px-8">
                                            <svg class="w-8 h-8" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                                                <circle class="text-orange-100 fill-current dark:hidden" cx="16" cy="16" r="16" />
                                                <path class="text-orange-600 fill-current" d="M19 18.414l-4 4L9.586 17l.707-.707L12 14.586V8.414l-5-5L4.414 6l6.293 6.293-1.414 1.414L1.586 6 7 .586l7 7v5l8.463-8.463a3.828 3.828 0 115.414 5.414L21 16.414v6.172l5 5L28.586 25l-6.293-6.293 1.414-1.414L31.414 25 26 30.414l-7-7v-5zm-4 1.172L26.463 8.123a1.828 1.828 0 10-2.586-2.586L12.414 17 15 19.586zM11 30v2C4.925 32 0 27.075 0 21h2a9 9 0 009 9zm0-5v2a6 6 0 01-6-6h2a4 4 0 004 4z" />
                                            </svg>
                                        </div>
                                        <!-- Content -->
                                        <div class="pl-6">
                                            <header>
                                                <h3 class="mb-1 h4 search-highlight-block">
                                                <a href="{{ link.url }}">{{ link.link_text }}</a>
                                                </h3>
                                            </header>
                                            {% for tag in link.settings.tags %}
                                                {% render 'tag', tag: tag %}
                                            {% endfor %}
                                            <a class="inline-flex items-center mt-2 font-medium text-teal-600 hover:underline" href="{{ link.url }}">
                                                <span>Read more</span>
                                                <svg class="mt-px ml-2 w-3 h-3 shrink-0" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
                                                    <path class="fill-current" d="M6.602 11l-.875-.864L9.33 6.534H0v-1.25h9.33L5.727 1.693l.875-.875 5.091 5.091z" />
                                                </svg>
                                            </a>

                                        </div>
                                    </div>
                                </article>
                            {% endfor %}
                        {% endif %}
                        {% for item in items %}
                            <!-- 1st Article -->
                            <article class="mb-2" x-show="['', '1'].includes(category)">
                                <div class="flex py-5 pr-6 bg-white divide-x shadow-2xl dark:bg-slate-800 divide-slate-200 dark:divide-slate-700">
                                    <!-- Category icon -->

                                    <!-- Content -->
                                    <div class="pl-6">
                                        <header>
                                            <a class="text-lg md:text-xl hover:underline search-highlight-block" href="{{ item.path }}">{{ item.highlighted_search_title }}</a>
                                        </header>
                                        <p class="text-slate-600 dark:text-slate-400 search-highlight-block line-clamp-3">
                                            {{ item.highlighted_search_content  }}
                                        </p>

                                        <a class="inline-flex items-center mt-2 font-medium text-teal-500 hover:underline" href="{{ item.url }}">
                                            <span>Read more</span>
                                            <svg class="mt-px ml-2 w-3 h-3 shrink-0" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
                                                <path class="fill-current" d="M6.602 11l-.875-.864L9.33 6.534H0v-1.25h9.33L5.727 1.693l.875-.875 5.091 5.091z" />
                                            </svg>
                                        </a>
                                        <footer class="flex items-center mt-3 text-sm">
                                            <div class="ml-4 space-x-2">
                                                {% for tag in item.settings.tags %}
                                                    <a href="{{ tag.path }}">{% render 'tag', tag: tag %}</a>
                                                {% endfor %}
                                            </div>
                                        </footer>
                                    </div>
                                </div>
                            </article>

                        {% else %}
                            <div class="mx-auto my-8 w-full">{{ 'generic.empty' | t }},<a href="{{ site.index_path }}" class="text-blue-600">Return</a></div>
                        {% endfor %}

                        </div>

                        <!-- Pagination -->
                        <nav class="flex justify-center mt-12 sm:justify-between">
                            {% render 'paginate', paginate: paginate %}
                        </nav>

                    </div>
                {% endpaginate_tag %}
                {% endif %}
                </div>
            </div>
        </section>

        <!-- Related links -->

    </main>
</div>
